* {
  font-family: 'Roboto';
  box-sizing: border-box;
}

.app-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  padding: 11px;
  display: flex;
  justify-content: center;
}
.faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  border: none;
  border-radius: 19px;
  padding: 11px;
  box-shadow: 0 4px 16px 0 #e4e7eb;
}
@media (min-width: 768px) {
  .faqs-container {
    width: 75%;
  }
}

.faq-title {
  color: #cb8805;
}

.faq-item-list {
  list-style-type: none;
  margin-top: 0;
  padding: 24px 13px 24px 13px;
}
